body {
  font-family: "Sen", sans-serif;
  font-size: 12px;
  letter-spacing: .2px;
}

.navbar-brand {
  font-size: 13px;
  font-weight: bold;
}

.form-control,
.form-select,
.btn {
  font-size: 12px;
}

.badge-p{
  font-size: 10.5px;
}